html, body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('path/to/your-texture.png');
  background-size: cover;
  background-repeat: repeat;
}

header {
  background-color: rgba(51, 51, 51, 0.9);
  color: #fff;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

main {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(244, 244, 244, 0.9);
}

#viewDiv {
  width: 100%;
  height: 100%;
  border: none;
  opacity: 1 !important;  /* Force full opacity */
}

//footer {
  background-color: rgba(51, 51, 51, 0.9);
  color: #fff;
  text-align: center;
  padding: 0px 0;
// }

#layerControls {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  z-index: 1000;
}

.layerButton {
  display: block;
  margin: 5px 0;
  padding: 5px 10px;
  background: #f0f0f0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.layerButton.active {
  background: #1F78B4;
  color: white;
}

.linkedin-button {
  display: inline-block;
  background-color: #0077B5;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.linkedin-button:hover {
  background-color: #005f8d;
}

.linkedin-button i {
  margin-right: 8px;
}

.info-popup {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    background: white;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 300px;
    z-index: 1000;
}
